html{
  font-size: 12pt;
  padding: 0em;
  margin: 0em;
}

img{
  display: block;
  width: 100%;
  height: 100%;
}
.headline{
  color: white;
}
.navigation > a{
  color: white;
}
.socialMedia{
  background-color: #005987;
  border-bottom-style: solid;
  border-bottom-width: 1pt;
  border-bottom-color: white;
}
.socialMedia > h5{
  color: white;
}
.footer{
  background-color: #005987;
}
.impressum > h5 > a{
  color: white;
}
.dataProtection > h5 > a{
  color: white;
}

.headlineAndNavigation{
  background-color: #005987;
}
